.container
  .row{style: 'padding-top: 100px;'}
    .col-md-6.col-md-offset-3
      .login-panel.panel.panel-default
        .panel-heading
          %h3.panel-title Acceder
        .panel-body
          = form_for(:user, :url => session_path(:user)) do |f|
            %fieldset
              .form-group
                = f.label :correo
                = f.email_field :email, class: 'form-control'
              .form-group
                = f.label :clave
                = f.password_field :password, class: 'form-control'
              .actions
                = f.submit 'Iniciar Sesion', class: "btn btn-success btn-block"
              = link_to "Registrate", new_user_registration_path
              %br
              = link_to "Olvido su contraseña?", new_password_path(:user)
