%p#notice= notice

%p
  %b Policy:
  = @payment.policy
%p
  %b User:
  = @payment.user
%p
  %b Number of quotes:
  = @payment.number_of_quotes
%p
  %b Credit card terminal:
  = @payment.credit_card_terminal

= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
