.container
  .row
    .col-md-6.col-md-offset-3
      .login-panel.panel.panel-default
        .panel-heading
          %h3.panel-title Editar Usuario
        .panel-body
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,role: "form", 'data-toggle': "validator" }) do |f|
            %fieldset
              = devise_error_messages!
              .form-group
                = f.label :correo
                = f.email_field :email, class: 'form-control', autofocus: true, required: true,'data-error': "Debe introducir su correo"
                .help-block.with-errors
              .form-group
                = f.label :nombre
                = f.text_field :name, class: 'form-control', autofocus: true, required: true,'data-error': "Debe introducir su correo"
                .help-block.with-errors
              .form-group
                = f.label :apellido
                = f.text_field :last_name, class: 'form-control', autofocus: true, required: true,'data-error': "Debe introducir su correo"
                .help-block.with-errors
              .form-group
                = f.label :télefono
                = f.text_field :phone, class: 'form-control', autofocus: true, required: true,'data-error': "Debe introducir su correo"
                .help-block.with-errors
              .form-group
                = f.label :tipo_de_documento
                = f.select :document_type, [['Cédula de ciudadanía','Cédula de ciudadanía'],['Cédula de extranjería','Cédula de extranjería'],['Pasaporte','Pasaporte'],['Tarjeta de identidad','Tarjeta de identidad'],['NIT','NIT']], {include_blank: true}, {required: true, class: 'form-control', 'data-error': "Debe seleccionar un tipo de documento"}
                .help-block.with-errors
              .form-group
                = f.label :número_de_documento
                = f.text_field :document_id, class: 'form-control', autofocus: true, required: true,'data-error': "Debe introducir su correo"
                .help-block.with-errors
              .form-group
                = f.label :clave
                %i (para actualizar la información introduzca su clave)
                %br/
                = f.password_field :current_password, autocomplete: "off", class: 'form-control',required: true, 'data-error': "Debe introducir su clave", 'data-minlength': "6"
                .help-block.with-errors
              .actions
                = f.submit "Actualizar", class: "btn btn-success btn-block"
                = link_to "Atrás", :back, class: "btn btn-default btn-block"
