= form_for @policy do |f|
  %fieldset
    - if @policy.errors.any?
      #error_explanation
        %h2= "#{pluralize(@policy.errors.count, "error")} prohibited this policy from being saved:"
        %ul
          - @policy.errors.full_messages.each do |message|
            %li= message

    .form-group
      = f.label :tipo_de_vehiculo
      %br
      = f.collection_select :vehicle_type_id, VehicleType.order(:name), :id, :name, include_blank: true, html: {class: 'form-control'}
    .form-group
      = f.label :sub_tipo_de_vehiculo
      %br
      = f.grouped_collection_select :vehicle_sub_type_id, VehicleType.order(:name), :vehicle_sub_type, :name, :id, :description, include_blank: true, html: {class: 'form-control'}
    .form-group
      = f.label :edad
      = f.number_field :age, class: 'form-control'
    .form-group
      = f.label :numero_de_pasajeros
      = f.number_field :number_of_passengers, class: 'form-control'
    .form-group
      = f.label :tipo_de_motor
      = f.text_field :engine_cylinder, class: 'form-control'
    .form-group
      = f.label :toneladas
      = f.text_field :tons, class: 'form-control'
    .form-group
      = f.label :placa
      = f.text_field :plate, class: 'form-control'
    .actions
      .row
        .col-lg-6
          = f.submit 'Generar', class: "btn btn-success btn-block"
        .col-lg-6
          = link_to 'Atras', :back , class: "btn btn-default btn-block"
