.container
  .row
    .panel.panel-default
      .panel-heading
        My Policies
      - if @policies.count == 0
        .panel-body
          You don't have any Policies, start by making a
          = link_to 'New Policy', new_policy_path, class: 'btn btn-success'
      -else
        .panel-body
          %table.table.table-bordered
            %thead
              %tr
                %th Policy ID
                %th Plate
                %th Issue date
                %th Expiration date
                %th Policy Status
                %th Total
                %th Actions

            %tbody
              - @policies.each do |policy|
                %tr
                  %td= policy.id
                  %td= policy.plate
                  %td= policy.issue_date
                  %td= policy.expiration_date
                  %td= policy.policy_status
                  %td= number_to_currency(policy.total, precision: 2)
                  %td
                    = link_to 'Show', policy, class: "btn btn-default"
                    = link_to 'Pay Policy', edit_policy_path(policy), class: "btn btn-success"
                    - if policy.policy_status == 'unpaid'
                      = link_to 'Delete', policy, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

          = link_to 'New Policy', new_policy_path, class: 'btn btn-success'
